.dashboard_background {

}

.dashboard_container {
  margin-top: 15px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d5d5d5;
}

.dashboard_inner_container {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.sort_links {
  display: flex;
  align-items: center;
  line-height: 1;
  margin: 5px 0px 5px 0px;
  border-bottom: 1px solid #d5d5d5;
}

.header {
  display: flex;
}

.header h2 {
  font-size: 24px;
  margin: 0px 0px 0px 20px;
}
.dashboard_add {
  margin: 0px 20px 0px 0px;
}

.dashboard_add i {
  margin-right: 5px;
  color: rgb(0, 184, 0);
  font-size: 20px;
}

.dashboard_add:hover > i
{
  cursor: pointer;
  color: rgb(1, 218, 1);
}

.dashboard_add span {
  font-size: 20px;
}

.wine_list {
  padding: 15px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.sort_links a:hover {
  cursor: pointer;
  background-color: #e7e7e7;
  transition: linear 0.3s;
}

.order_link {
  margin: 0px 0px 0px 0px;
  padding: 0px 2px 2px 0px;
  border-bottom: 3px solid #f5f5f5;
}

.sort_links i {
  margin-right: 10px;
  padding-left: 1px;
  margin-bottom: 1px;
}