.form_container {
  background-color: rgb(227, 236, 252);
  margin-bottom: 5px;
}

.form {
  padding: 20px;
}

.form h2 {
  font-size: 20px;
}

.form h4 {
  margin-bottom: 5px;
}

.form textarea {
  resize: none;
  width: 100%;
  min-height: 50px;
  margin-bottom: 5px;
}

.form button {
  padding: 5px 7px 5px 7px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form .cancel {
  border: 1px rgb(154, 154, 154) solid;
  margin-right: 5px;
  font-weight: 600;
  background-color: rgb(227, 227, 227);
}

.form .cancel:hover {
  background-color: rgb(189, 189, 189);
}

.form .check_in {
  border: 1px #0071e3 solid;
  background-color: #0071e3;
  color: #fff;
  font-weight: 600;
}

.form .check_in:hover {
  background-color: #2787e8;
}

