.modal_container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  background-color:white;
  height: 80%;
  width: 80%;
  overflow: hidden;
}

.modal_content:before {
  content: '';
  position: absolute;
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
  background: linear-gradient(-50deg, #720325, #980531);
  top: 10%;
  right: 60%;
  transform:translateY(-45%);
}
