button.nav_link__sign_in {
  margin-right: 8px;
}

button.nav_link__sign_up {
  margin-right: 8px;
}

button.modal__link {
  border: none;
  outline: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  padding-right: 8px;
  color: inherit;
}

button.modal__link:hover {
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline 3px;
}

span.nav_link__sign {
  display: flex;
  margin-right: 5px;
}