.wine_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "header"
    "name"
    "price"
    "rating"
    "winery"
    "wineType"
    "description"
    "description"
    "description"
    "designation"
    "colorType"
    "country"
    "province"
    "region1"
    "region2"
    "imageUrl"
  ;
  row-gap: 10px;
  /* grid-template-rows: repeat(5, 1fr [info]) 3fr [info] 
    repeat(2, 1fr [type]) repeat(4, 1fr [location]) 1fr [image]; */
  padding: 20px;
}

.header {
  grid-area: header;
}

.name {
  grid-area: name;
}

.price {
  grid-area: price;
}

.rating {
  grid-area: rating;
}

.winery {
  grid-area: winery;
}

.wineType {
  grid-area: wineType;
}

.description {
  grid-area: description;
}

.description input {
  height: 400px;
}

.designation {
  grid-area: designation;
}

.colorType {
  grid-area: colorType;
}

.country {
  grid-area: country;
}

.province {
  grid-area: province;
}

.region1 {
  grid-area: region1;
}

.region2 {
  grid-area: region2;
}

.imageUrl {
  grid-area: imageUrl;
}

.form_input {
  max-width: 500px;
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  margin: 10px 10px;
  border-radius: 10px;
  /* display: grid; */
  /* grid-template-columns: 15% 85%; */
  padding: 0 .4rem;
}

.form_input label {
  display: flex;
  /* align-items: center; */
}

.form_input input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.form_input input::placeholder {
  color: #aaa;
  font-weight: 500;
}

/* required fields: name, color, price, rating, wineryId, colorId, wineTypeId

color should be associated with a wine type

wine info: name, wineTypeId, wineryId, rating, price, description
types of wine: designation, color
location: country, province, region_1, region_2
image: imageUrl
*/
