.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2E1114;
  padding: 10px;
  color: white;
  font-weight: 600;
}

.nav_link {
  font-size: inherit;
  font-weight: 600;
}

.nav_link__home {
  display: flex;
  justify-content: flex-start;
  background: none;
  border: none;
  outline: none;
}

.nav__logo {
  height: 35px;
  margin-left: 8px;
}

/* svg#text {
  fill: aqua;
} */