.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #501B1D;
  padding: 5px;
  color: #fff;
  align-items: center;
}

.nav_link__home {
  background: none;
  border: none;
  outline: none;
}

.nav_bar___right_links {
  display: flex;
  align-items: center;
  line-height: 1;
}

.nav_bar__dashboard_link {
  font-size: 18px;
  color: #b8b8b8;
  margin-right: 15px;
}

.nav_bar__dashboard_link:hover {
  color: #fff;
  transition: 0.5s linear;
  cursor: pointer;
}

.nav_bar__profile_modal {
  color: #b8b8b8;
  font-size: 28px;
  margin-right: 15px;
}

.nav_bar__profile_modal:hover {
  color: #fff;
  transition: 0.5s linear;
  cursor: pointer;
}